<!DOCTYPE html>
<html>
<head>
    <title>Image Info</title>
    <style>
        /* CSS styles for the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Web address</th>
            <th>Thumbnail</th>
            <th>Presence of alt text</th>
            <th>Alt text content</th>
            <th>Pass/fail score</th>
        </tr>
        {% for image in image_info %}
        <tr>
            <td>{{ image['Web address'] }}</td>
            <td><img src="{{ image['Thumbnail'] }}"></td>
            <td>{{ image['Presence of alt text'] }}</td>
            <td>{{ image['Alt text content'] }}</td>
            <td>{{ image['Pass/fail score'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>